
/* .profile-pic {
  
} */


.is-round {
  border-radius: 50%;
}

section#me div img {
  margin: 0 auto;
}

/* div#toolList {
  display: inline-flex;
} */

/* #skills > h2 {
  margin-bottom: 35px;
}  */

div.column p#contactInfo {
  padding: 20px;
}

/* div#socialMedia {
  display: inline-flex;
} */

/* div#socialMedia div.columns div.column {
  margin: 0 auto;
} */