
/* .profile-pic {
  
} */


.is-round {
  border-radius: 50%;
}

section#me div img {
  margin-left: auto;
  margin-right: auto;
}

div#toolList div figure img {
  margin-left: auto;
  margin-right: auto;
}

div#socialMedia div figure img {
  margin-left: auto;
  margin-right: auto;
}

div.column p#contactInfo {
  padding: 20px;
}
