* {
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 10px;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 2em;
}

p {
  font-size: 1.5em;
}

.container .row {
  padding: 20px;
}

.text-center {
  text-align: center;
}

footer {
  padding: 20px;
}

.container .intro {
  background-color: hotpink;
}

.container .skills {
  background-color: lightgreen;
}

.container .contact {
  background-color: steelblue;
}